*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#606060;
}
.F{
    background-color:#404040;
    border-radius: 50px; 
    font-size: 300px;
}
h1{
    color: white;
}